:root {
  --green-color: #34A853;
  --amber-color: #FBBC04;
  --red-color: #CF3721;
  --blue-color: #4285F4;
  --orange-color: #F25C00;
  --orchid-color: #AC69B0;
  --gray-color: #4A4A4A;
  --lightgray-color: #9B9B9B;
  --disabled-color: #DFDFDF;
}


*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

